html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --gap: 32px;
  --color-white: #fff;
  --color-black: #000;
  --color-orange-light: #ffb84d;
  --color-orange: #ff9900;
  --color-orange-dark: #e1670e;
  --color-gray-light: #cacaca;
  --color-gray: #666;
  --color-gray-dark: #414141;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../fonts/MontserratExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* glob */
.page {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-black);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 25px 39px;
  border: none;
  border-radius: 16px;
  background-color: var(--color-orange);
  color: var(--color-white);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  background-color: var(--color-orange-light);
}

.btn:active {
  background-color: var(--color-orange-dark);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
}

.section-title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 86px;
}

.nav__link {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  transition: color 0.3s ease-in-out;
}

.nav__btn {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  transition: color 0.3s ease-in-out;
}

.nav__list--column {
  flex-direction: column;
  align-items: flex-start;
}

.nav__link--font {
  line-height: 36px;
  color: var(--color-gray-light);
}

.nav__link:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

.nav__link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange);
  transition: background-color 0.3s ease-in-out;
}

.nav__link:active {
  outline: none;
  color: var(--color-orange-dark);
}

.nav__link:active::after {
  background-color: var(--color-orange-dark);
}

.links:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

.links:hover {
  color: var(--color-orange);
}

.links:hover::after {
  background-color: transparent;
}

.links:active {
  outline: none;
  color: var(--color-orange-dark);
}

.links:active::after {
  background-color: transparent;
}

/* header */
.header {
  margin-bottom: 50px;
  padding: 14px 0;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  box-shadow: 0px 5px 40px 0px #0000001A;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  max-width: 225px;
  max-height: 72px;
}

.header__nav {
  margin-right: 260px;
  z-index: 10;
}

.header__btn {
  max-width: 24px;
  max-height: 24px;
}

.header__btn:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

.header__btn rect {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

.header__btn:hover rect {
  fill: var(--color-orange);
}

.header__btn path {
  stroke: var(--color-black);
  transition: stroke 0.3s ease-in-out;
}

.header__btn:hover path {
  stroke: var(--color-orange);
}

.header__btn:active {
  outline: none;
}

.header__btn:active rect {
  fill: var(--color-orange-dark);
}

.header__btn:active path {
  stroke: var(--color-orange-dark);
}

.burger {
  display: none;
}

.header__search {
  display: none;
  display: flex;
  position: absolute;
  z-index: 10;
  right: 0;
  padding: 16px 13px 16px 32px;
  min-width: 539px;
  height: 60px;
  border-radius: 24px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 20px 0px #0000001F;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.header__search--active {
  opacity: 1;
  visibility: visible;
}

.search__input {
  display: block;
  margin-right: 14px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-gray-light);
}

.search__input::placeholder {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: var(--color-gray-light);
}

.search__input:focus {
  outline: none;
}

.search__btn {
  margin-right: 20px;
  max-width: 24px;
  max-height: 24px;
}

.search__btn rect {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

.search__btn path {
  stroke: var(--color-black);
  transition: stroke 0.3s ease-in-out;
}

.search__btn:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

.search__btn:hover rect {
  fill: var(--color-orange);
}

.search__btn:hover path {
  stroke: var(--color-orange);
}

.search__btn:active {
  outline: none;
}

.search__btn:active rect {
  fill: var(--color-orange);
}

.search__btn:active path {
  stroke: var(--color-orange);
}

.search__close {
  max-width: 24px;
  max-height: 24px;
}

.search__close rect {
  fill: var(--color-gray-light);
  transition: fill 0.3s ease-in-out;
}

.search__close circle {
  stroke: var(--color-gray-light);
  transition: stroke 0.3s ease-in-out;
}

.search__close:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

.search__close:hover rect {
  fill: var(--color-orange);
}

.search__close:hover circle {
  stroke: var(--color-orange);
}

.search__close:active {
  outline: none;
}

.search__close:active rect {
  fill: var(--color-black);
}

.search__close:active circle {
  stroke: var(--color-black);
}

/* hero */
.hero__container {
  margin-bottom: 50px;
  color: var(--color-white);
}

.slider {
  position: relative;
  padding: 102px 0 100px 82px;
  border-radius: 32px;
  max-height: 620px;
  overflow: hidden;
}

.slider__swiper {
  position: absolute;
  min-height: inherit;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.swiper-wrapper {
  min-height: inherit;
}

.slider-1 {
  min-height: inherit;
  background-image: url('../img/hero-bg-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-2 {
  min-height: inherit;
  background-image: url('../img/hero-bg-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-3 {
  min-height: inherit;
  background-image: url('../img/hero-bg-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: 895px;
  z-index: 2;
  pointer-events: none;
}

.slider__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
}

.slider__descr {
  margin: 0;
  margin-bottom: 90px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.slider__btn {
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  pointer-events: auto;
}

.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
  background-color: var(--color-gray-light);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-white);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 10px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 26px;
}

/* about-us */
.about-us {
  margin-bottom: 100px;
}

.about-us__title {
  margin-bottom: 20px;
}

.about-us__descr {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  font-size: 16px;
  line-height: 32px;
}

.about-us__cards {
  display: flex;
  min-height: 622px;
}

.cards__left,
.cards__right {
  width: calc((100% - var(--gap)) / 2);
}

.cards__left {
  position: relative;
  margin-right: var(--gap);
  border-radius: 32px;
  background-image: url("../img/about-us-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cards__wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.5);
}

.cards__descr {
  margin: 0;
  max-width: 433px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-white);
}

.cards__btn {
  padding: 17px 35px;
  border: 3px solid var(--color-orange);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: transparent;
}

.cards__btn:focus {
  background-color: var(--color-orange);
}

.cards__btn:hover {
  background-color: var(--color-orange);
}

.cards__btn:active {
  border-color: var(--color-orange-dark);
  background-color: var(--color-orange-dark);
}

.cards__item {
  display: flex;
  align-items: center;
  padding: 64px 115px 64px 60px;
  border: 1px solid var(--color-gray-light);
  border-radius: 32px;
}

.cards__item:not(:last-child) {
  margin-bottom: var(--gap);
}

.cards__item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 50px;
  width: 190px;
  height: 165px;
  background-position: center;
  background-repeat: no-repeat;
}

.cards__item:first-child::before {
  background-image: url("../img/about-us-1.svg");
}

.cards__item:nth-child(2):before {
  background-image: url("../img/about-us-2.svg");
}

.cards__subtitle {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.cards__text {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
}

/* work */
.work__container {
  position: relative;
  margin-bottom: 112px;
}

.work__right {
  font-size: 0;
}

.work__title {
  margin-bottom: 50px;
}

.work__nav {
  margin-bottom: 45px;
}

.work__subtitle {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.work__descr {
  margin: 0;
  margin-bottom: 18px;
  max-width: 758px;
  min-height: 352px;
  font-size: 16px;
  line-height: 32px;
}

.work__btns {
  font-size: 0;
}

.work__btn:first-child {
  margin-right: 32px;
  padding: 20px 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.work__btn:nth-child(2) {
  padding: 19px 37px;
  border: 1px solid var(--color-black);
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black);
  background-color: transparent;
}

.work__btn:nth-child(2):focus {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
  color: var(--color-white);
}

.work__btn:nth-child(2):hover {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
  color: var(--color-white);
}

.work__btn:nth-child(2):active {
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
}

.work__right {
  margin-top: 10px;
  width: 870px;
  min-height: 460px;
}

.work__right img {
  border-radius: 32px;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.work__item {
  display: none;
}

.work__item--active{
  display: flex;
  justify-content: space-between;
}

.nav__btn--active {
  color: var(--color-orange-dark);
}

/* questions */
.questions__container {
  margin-bottom: 100px;
}

.questions__title {
  margin-bottom: 32px;
}

.questions__list {
	list-style: none;
	padding: 0;
}

.accordion__content {
	overflow: hidden;
	visibility: hidden;
	transition-property: height, visibility;
	transition-timing-function: ease;
}

.accordion--active .accordion__content {
	visibility: visible;
}

.accordion__heading {
	margin: 0;
}

.accordion {
  border-bottom: 1px solid var(--color-gray-light);
  border-top: 1px solid var(--color-gray-light);
  transition: border-color 0.3s ease-in-out;
}

.accordion__control {
	display: flex;
  align-items: center;
  justify-content: space-between;
	padding-top: 29px;
  padding-bottom: 30px;
  width: 100%;
	transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.accordion__control--first {
  padding-top: 30px;
  border-top: 1px solid var(--color-gray-light);
}

.accordion__control ellipse {
  fill: var(--color-gray-light);
  transition: fill 0.3s ease-in-out;
}

.accordion__control path {
  fill: var(--color-gray);
  transition: fill 0.3s ease-in-out;
}

.accordion__control svg {
  transition: transform 0.3s ease-in-out;
}

.accordion:focus,
.accordion:hover {
  border-color: var(--color-orange);
}

.accordion__control:focus,
.accordion__control:hover {
  border-color: var(--color-orange);
  color: var(--color-orange);
}

.accordion__control:focus ellipse,
.accordion__control:hover ellipse {
  fill: var(--color-orange);
}

.accordion__control:focus path,
.accordion__control:hover path {
	fill: var(--color-white);
}

.accordion:active {
  border-color: var(--color-gray-light);
}

.accordion__control:active {
  border-color: var(--color-gray-light);
  color: var(--color-black);
}

.accordion__control:active ellipse {
  fill: var(--color-gray-light);
}

.accordion__control:active path {
  fill: var(--color-gray);
}

.accordion__svg--active {
  transform: rotate(45deg);
}

.accordion__descr {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.accordion__content {
	max-width: 1003px;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

.accordion__content p:first-child {
  margin-top: 0;
  margin-bottom: 32px;
}

.accordion__content p:last-child {
  margin-top: 0;
  margin-bottom: 40px;
}
/* footer */
.footer {
  padding: 50px 0;
  background-color: var(--color-black);
}

.footer__container {
  display: flex;
}

.footer__left {
  margin-right: 350px;
  max-width: 252px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  max-width: 224px;
  max-height: 72px;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__list {
  display: flex;
}

.footer__item:not(:last-child) {
  margin-right: 25px;
}

.footer__item {
  max-width: 60px;
  max-height: 60px;
}

.footer__icon path {
  fill: var(--color-gray);
  transition: fill 0.3s ease-in-out;
}

.footer__icon:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange-dark);
}

.footer__icon:focus path {
  fill: var(--color-gray);
}

.footer__item:hover .footer__icon path {
  fill: var(--color-orange)
}

.footer__item:active .footer__icon path {
  fill: var(--color-orange-dark)
}

.footer__icon:active {
  outline: none;
}

.footer__center {
  margin-right: auto;
}

.footer__subtitle {
  margin: 0;
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: var(--color-gray-light);
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  margin-bottom: 25px;
  padding: 14px 24px;
  min-width: 570px;
  height: 60px;
  border: none;
  border-radius: 16px;
  background-color: var(--color-gray-dark);
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  transition: background-color 0.3s ease-in-out;
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-gray-light);
}

.form__input:focus {
  outline: none;
  background-color: var(--color-gray);
}

.form__input:hover {
  background-color: var(--color-gray);
}

.form__input:active {
  background-color: var(--color-gray);
}

.form__textarea {
  margin-bottom: 32px;
  min-height: 150px;
  resize: none;
}

.form__btn {
  padding: 19px 52px;
  max-width: 269px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.footer__right {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.footer__descr {
  margin: 0;
  max-width: 363px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-gray-light);
}

